div.albums-list-view{
  background-color: #373546;
  position: relative;
  div.list-header {
    padding: 1em 1em;
    span {
      // display: block;
    }
    div.pt-input-group {
    }
  }
  div.top-gradient {
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to bottom, rgba(55,53,70,1) 0%,rgba(55,53,70,0) 100%);
    z-index: 1;
  }
  div.scrollable-div {
    padding-top: 4px;
  }
  div.albums-container {

    }
    .ReactVirtualized__Grid.ReactVirtualized__List {
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: rgba(153, 148, 192, 0.308);
        box-shadow: 0 0 1px rgba(255, 255, 255, .1);
        margin-right: 2px;
      }
    }
  // div.artist-header {
  //   img {
  //     border-radius: 16px;
  //   }
  //   div {
  //     display: inline-block;
  //     vertical-align: middle;
  //   }
  //   div.artist-name {
  //     // color: #e4e0ec;
  //     // margin: 0 1em;
  //     // font-size: 16px;
  //     // font-weight: bold;
  //   }
  // }
}
