.download-component {
  .placeholder-image {
    float: left;
    height: 58px;
    width: 56px;
    font-size: 40px;
    color: #585c66;
    padding: 2px 0 0 16px;
  }
  .item-name {
    opacity: 0.7;
  }
}