@import '../../styles/utils';
@import '../../styles/colors';

div.artist-component {
  transition: all 0.3s ease;
  * {
    transition: all 0.3s ease;
  }
  &.clickable {
    cursor: pointer;
  }
  &:not(.clickable) {
    div.artist-info {
      img {
        @include no-select();
      }
      div.artist-name {
        @include no-select();
      }
      div.artist-subtitle {
        @include no-select();
      }
    }
  }
  &.light-theme {
    div.artist-info {
      div.artist-name {
        color: $light-primary;
      }
      div.artist-subtitle {
        color: $light-secondary;
      }
    }
  }
  &.dark-theme {
    div.artist-info {
      div.artist-name {
        color: $dark-primary;
        .match {
          // color: #fff;
        }
        .not-match {
          color: #7f8898;
        }
      }
    }
    div.artist-subtitle {
      div.artist-counter {
        color: $dark-secondary;
      }
      div.artist-text {
        color: $dark-secondary;
      }
    }
    
  }
  &.minimal-layout {
    height: 32px;
    padding: 0px 2px;
    div.artist-image {
      float: left;
      img {
        border-radius: 16px;
      }
    }
    div.artist-info {
      
      div.artist-name {
        margin: 7px 3px 0 8px;
        display: inline-block;
      }
      div.artist-subtitle {
        padding-left: 4px;
        display: inline-block;
      }
      @include ellipsis();
    }
  }
  &.compact-layout {
    height: 44px;
    padding: 6px;
    div.artist-image {
      float: left;
      img {
        border-radius: 16px;
      }
    }
    div.artist-info {
      
      div.artist-name {
        margin: 7px 3px 0 8px;
        display: inline-block;
      }
      div.artist-subtitle {
        padding-left: 4px;
        display: inline-block;
      }
      @include ellipsis();
    }
  }
  &.medium-layout  {
    height: 86px;
    div.artist-image {
      float: left;

      position: relative;
      
      margin: 0.8em 0.8em;

      img {
        height: 64px;
        width: 64px;
        border-radius: 32px;
      }
    }
    div.artist-info {
      vertical-align: top;
      
      padding: 1.4em 0.5em 1em 0.5em;

      div.artist-name {
        font-size: 16px;
        @include ellipsis();
      }
      div.artist-subtitle {
        margin-top: 8px;
        font-size: 14px;
        // height: 14*1.2*2 px; /* Fallback for non-webkit */
        word-wrap: none;
        @include ellipsis();
      }
    }
  }
  &.large-layout {
    div.artist-image {

    }
    div.artist-info {
      div.artist-name {

      }
      div.artist-subtitle {
        
      }
    }
  }
  &.active {
    div.artist-image {

    }
    div.artist-info {
      div.artist-name {

      }
      div.artist-subtitle {
        
      }
    }
  }
  &.clickable {

    div.artist-image {

    }
    div.artist-info {
      div.artist-name {

      }
      div.artist-subtitle {
        
      }
    }
  }
}