

.origin-item {
  padding: 0.5em;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;

  .origin-status {
    display: inline-block;
    vertical-align: top;
    margin: 0.5em 1em;
  }
  
  .origin-details {
    display: inline-block;
  }

  .origin-sub {
    color: rgba(0, 0, 0, 0.49);
  }
  
  .origin-status.offline {
    color: rgb(128, 124, 145);
  }

  .origin-status.online {
    color: rgb(127, 192, 127);
  }

  .origin-status.connected {
    color: green;
  }

  .origin-status.expired {
    color: brown;
  }

  &:hover {
    transition: all 0.3s ease;
    background-color: rgba(73, 63, 88, 0.2);
  }
}

.select-header {
  font-weight: bolder;
  margin: 1em 2em;
}
.add-form {
  width: 100%;
  margin: 1em;
  .pt-input {
    width: 275px;
  }
}
.add-item {
  padding: 8px 0px 8px 8px;
  cursor: pointer;
  span.pt-icon-plus {
    margin: 16px;
  }
}

.pt-dialog.origins-dialogs {
  width: 350px;
  margin: 0;
  padding: 10px;
}

