div.track-list-item{
  & > div {
      display: inline-block;
      margin: 0.5em;
      font-size: 16px;
      /* text-align: center; */
      /* width: 44%; */
      /* color: #7a7594; */
  }
  &:hover {
    background-color: rgba(233, 234, 241, 0.78);
    border-radius: 3px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.06);
  }

  .track-number {
      color: #7a7594;
      width: 1em;
      text-align: right;
  }

  .track-name {
      width: 76%;
      // font-weight: bold;
      color: #393546;
  }

  .track-duration {
      color: #7a7594;
  }

  cursor: pointer;
}
