div.artist-list-view{
  .ReactVirtualized__Grid.ReactVirtualized__List {

    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    position: relative;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 3px;
      background-color: rgba(36, 36, 48, 0.72);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background-color: rgba(153, 148, 192, 0.18);
      box-shadow: 0 0 1px rgba(255, 255, 255, .1);
      right: 2px;
    }
  }
}
