@import '../../../../styles/utils';
@import '../../../../styles/colors';

div.store-popup{
  .popup-content {
    width: 420px;
    height: 250px;
    padding: 1em;
  }

  .popup-header {
      font-size: 18px;
      /* margin: 0 1em; */
  }

  span.popup-button.pt-icon-add {
      float: right;
      cursor: pointer;
  }

  .pt-progress-bar.pt-intent-success {
      display: inline-block;
      width: 169px;
      vertical-align: top;
      margin-top: 4px;
      margin-left: 4px;
  }
  .done-indicator {
    display: inline-block;
    width: 169px;
    vertical-align: top;
    margin-top: 0px;
    margin-left: 4px;
    color: rgb(121, 170, 118);
    text-align: center;
    span.pt-icon {
        margin-right: 12px;
    }
    @include no-select();
  }

  span.item-album {
      display: inline-block;
      color: #6d6f8c;
  }

  span.item-name {
      display: inline-block;
      margin-right: 0.3em;
      width: 200px;
      @include ellipsis();
      @include no-select();
  }

  .popup-main {
      margin: 0.5em;
  }
}
