@import '../../styles/utils';
@import '../../styles/colors';

div.album-component {
  transition: all 0.3s ease;
  * {
    transition: all 0.3s ease;
  }
  &.clickable {
    cursor: pointer;
    div {
      user-select: none;
    }
  }
  &:not(.clickable) {
    div.album-info {
      img {
        @include no-select();
      }
      div.album-name {
        @include no-select();
      }
      div.album-subtitle {
        @include no-select();
      }
    }
  }
  &.light-theme {
    &.active {
      background-color: rgba(83, 80, 112, 0.05);
    }
    div.album-info {
      div.album-name {
        color: $light-primary;
      }
      div.album-subtitle {
        color: $light-secondary;
      }
    }
  }
  &.dark-theme {
    &.active {
      background-color: rgba(255, 255, 255, 0.08);
    }
    div.album-info {
      div.album-name {
        color: $dark-primary;
        .match {
          // color: #fff;
        }
        .not-match {
          color: #7f8898;
        }
      }
    }
    div.album-subtitle {
      div.album-counter,
      div.album-artist,
      div.album-text {
        color: $dark-secondary;
      }
    }
    
  }
  &.minimal-layout {
    height: 32px;
    padding: 0px 2px;
    div.album-image {
      float: left;
      img {
        border-radius: 1px;
      }
    }
    div.album-info {
      
      div.album-name {
        margin: 7px 3px 0 8px;
        display: inline-block;
      }
      div.album-subtitle {
        padding-left: 4px;
        display: inline-block;
      }
      @include ellipsis();
    }
  }
  &.compact-layout {
    height: 44px;
    padding: 6px;
    div.album-image {
      float: left;
      img {
        border-radius: 2px;
      }
    }
    div.album-info {
      
      div.album-name {
        margin: 7px 3px 0 8px;
        display: inline-block;
      }
      div.album-subtitle {
        padding-left: 4px;
        display: inline-block;
      }
      @include ellipsis();
    }
  }
  &.medium-layout  {
    height: 86px;
    div.album-image {
      float: left;

      position: relative;
      
      margin: 0.8em 0.8em;

      img {
        height: 64px;
        width: 64px;
        border-radius: 4px;
      }
    }
    div.album-info {
      vertical-align: top;
      
      padding: 1.4em 0.5em 1em 0.5em;

      div.album-name {
        font-size: 16px;
        @include ellipsis();
      }
      div.album-subtitle {
        margin-top: 8px;
        font-size: 14px;
        // height: 14*1.2*2 px; /* Fallback for non-webkit */
        word-wrap: none;
        @include ellipsis();
      }
    }
  }
  &.large-layout {
    height: 128px;
    div.album-image {
      float: left;
      img {
        border-radius: 4px;
      }
    }
    div.album-info {
      margin-left: 144px;
      padding-top: 6px;
      div.album-name {
        font-size: 24px;
        @include ellipsis();
      }
      div.album-subtitle > div {
        font-size: 16px;
      }
    }
  }
  &.active {
    div.album-image {

    }
    div.album-info {
      div.album-name {

      }
      div.album-subtitle {
        
      }
    }
  }
  &.clickable {

    div.album-image {

    }
    div.album-info {
      div.album-name {

      }
      div.album-subtitle {
        
      }
    }
  }
}