.scrollable-div {
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 0 1px rgba(255, 255, 255, .1);
  }
}
