@import '../../../../styles/utils';

.pt-dialog > .result-row {
  margin: 3.4em;
  .header {
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  .content {
    column-count: 5;
    column-gap: 5px;
    .image-container {
      display: inline-block;
      position: relative;
      margin: 0.25em;
      cursor: pointer;
      transition:  all 0.2s ease;
      &:hover {
        transition:  all 0.2s ease;
        @include card-shadow();
      }
      .image-info {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgb(56, 53, 70);
        color: #fff;
        font-size: 12px;
        // padding: 0.1em;
        // border-radius: 2px;
      }
    }
  }
}