@import '../../../../styles/_utils';

div.album-details-view{

  div.album-header > div {
    display:  inline-block;
    vertical-align: top;
  }
  div.album-infos {
    margin: .2em 0.8em;
  }
  div.album-title {
    font-weight: 500;
    font-size: 24px;
  }
  div.album-year {
    margin: 0.4em 0.1em;
  }
  div.album-header {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 1.6em;
    img {
      border-radius: 3px;
    }
    .album-image {

      position: relative;
    }
    // span.dark-overlay {
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   position: absolute;
    //   background-color: rgba(0, 0, 0, 0.45);
    //   opacity: 0;
    //   transition: all 0.3s ease;
    // }
    // span.dark-overlay:hover {
    //   opacity: 1;
    //   transition: all 0.3s ease;
    // }
    span.play-overlay.pt-icon.pt-icon-play {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 32px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.47);
      // width: 48px;
      // height: 48px;
      margin: auto;
      text-align: center;
      vertical-align: middle;
      line-height: 128px;
      // padding-left: 2px;
      opacity: 0;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        opacity: 1;
        transition: all 0.3s ease;
      }
    }
  }

  .album-content {
    padding: 1.6em 1.6em 0 1.6em;
    .missing-track {
      position: relative;
      .ellipsis {
        // transition: all 0.3s ease;
        z-index: 4;
          color: rgba(0, 0, 0, 0.4);
          &:hover {
            color: rgba(0, 0, 0, 0.8);

          }
          position: absolute;
          left: 2px;
          top: -9px;
          background-color: white;
          font-size: 12px;
          padding: 2px 5px 0 8px;
          border: solid 1px rgba(0, 0, 0, 0.2);
          border-radius: 20px;
          letter-spacing: 2px;
          // box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
          @include no-select();
          cursor: pointer;
        }
      .separator {
        width: 100%;
        height: 1px;
        margin-left: 3px; 
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  
  }
}
