div.dialog-content {
  margin: 2em auto;
  .artist-results {
      text-align: left;
      vertical-align: middle;
      /* line-height: 0em; */
      
  }
  div.artist-results, div.album-results {
    display: inline-block;
    vertical-align: top;
  }
  .pt-input {
    width: 420px !important;
    margin: 1em auto !important;
  }
  span.result-header {
    padding-bottom: 4px;
    padding-left: 50px;
    margin: 12px 4px 12px 4px;
    display: block;
    font-size: 16px;
  }
}

.pt-dialog {
  width: 1000px;
}
