div.dialog-content {
  margin: 2em auto;
  text-align: center;
  .artist-results {
      text-align: left;
      vertical-align: middle;
      /* line-height: 0em; */
      
  }
  div.artist-results, div.album-results {
    display: inline-block;
    vertical-align: top;
  }
  div.pt-input {
    width: 420px;
    margin: 1em auto;
  }
}

.pt-dialog {
  width: 800px;
}
