div.store-button {
  z-index: 999;
  span.pt-popover-target {
    display: block;
    height: 18px;
  }
  span.pt-icon.pt-icon-download {
    margin: 0 0.8em 0.8em 0.8em;
    font-size: 20px;
    cursor: pointer;
  }
}
