div.artist-list-item{
  cursor: pointer;
  &> div {
    vertical-align: top;
  }
  div.artist-image {
    display: inline-block;
    margin: 0.5em 0.8em;
    img {
      height: 64px;
      width: 64px;
      border-radius: 32px;

    }
  }
  div.artist-description {
    display: inline-block;
    margin-top: 1.2em;
    span {
      display: block;
      margin: 0.3em;
    }
    span.artist-name {
      color: #e7e0f4;
      font-size: 16px;
    }
    span.artist-album-count {
      color: #706f8c;
      font-size: 12px;
    }
  }
}
