div.artist-list-item{
  cursor: pointer;
  &.active {
    background-color: rgba(220, 229, 241, 0.1);
  }
  & > div {
    vertical-align: top;
  }
  div.artist-image {
    display: inline-block;
    margin: 0.5em 0.8em;
    position: relative;
    .image-container {
    }
    .image-overlay {
      position: absolute;
      width: 64px;
      height: 64px;
      top: 0;
      background-color: #373f4a;
      border-radius: 30px;
      &.hidden {
        opacity: 0;
        transition: all 0.2s ease;
      }
    }

    img {
      height: 64px;
      width: 64px;
      border-radius: 32px;

    }

  }
  div.artist-description {
    display: inline-block;
    margin-top: 1.2em;
    &> span {
      display: block;
      margin: 0.3em;
    }
    span.artist-name {
      color: #e7e0f4;
      font-size: 16px;
      .match {
        // color: #fff;
      }
      .not-match {
        color: #7f8898;
      }
    }
    span.artist-album-count {
      color: #706f8c;
      font-size: 12px;
    }
  }
}
