div.playlist-item {
  padding: 0.4em;
  margin: 0.2em;

  border-radius: 2.5px;

  transition: all 0.2s ease;
  cursor: pointer;

  span.playlist-duration {
    float: right;

    color: rgb(89, 85, 109);
    cursor: pointer;
  }

  &:hover {
    background-color: #EBEEF8;

    transition: all 0.2s ease;
    cursor: pointer;
  }
}
